/*INIZIO REGOLE GENERALI*/
.wrapper_70 {

  width: 70%;
  margin: 0 auto;

}


.ms_section {

  padding: 40px 0px;

}


.ms_primary {

  background-color: #1abc9c;
  color: white;

}


.ms_secondary {

  background-color: white;
  color: black;

}


/*intro*/
.ms_section .ms_intro {

  text-align: center;
  margin-bottom: 30px;

}


/*divider*/
.ms_star {

  width: max-content;
  margin: 0 auto;

}


.ms_star i {

  margin: 25px;

}


.ms_star::before,
.ms_star::after {

  content: "";
  display: inline-block;
  width: 145px;
  height: 5px;
  background-color: white;
  position: relative;
  top: -15px;
  border-radius: 5px;

}


.ms_secondary .ms_star {

  color: #2c3e50;

}


.ms_secondary .ms_star i {

  color: #2c3e50;

}


.ms_secondary .ms_star::before,
.ms_secondary .ms_star::after {

  background-color: #2c3e50;

}


/*link*/
a {

  color: white;

}
/*FINE REGOLE GENERALI*/


/*HEADER*/
/*navbar*/
.primary_nav {

  background-color: #2c3e50;
  color: white;
  height: 80px;
  line-height: 80px;

}


strong {

  font-size: 25px;

}


.fas.fa-bars.fa-3x {

  line-height: inherit;

}


/*MAIN*/
h2 {

  font-size: 45px;
  font-weight: bolder;

}


/*section: hero*/
.ms_section_hero {

  padding: 35px 0px;

}


.avatar {

  height: 200px;
  width: 200px;

}


h1 {

  font-size: 50px;
  font-weight: bolder;

}

/*section: portfolio*/
.ms_portfolio_item {

  height: 100%;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 30px;

}


/*section: about*/
.ms_about_text {

  margin-bottom: 30px;

}


/*FOOTER*/
footer .footer_section {
  padding: 40px 0;
}

footer .company_info {
  color: white;
  background-color: blue;
}

footer .company_credits {
  color: white;
  background-color: darkblue;
  text-align: center;
}
